<nb-layout>
    <nb-layout-column>
        <nb-card class="text-center">
            <nb-card-header class="new-game-header" size="giant">
                Click on new game and invite your friends
            </nb-card-header>
            <nb-card-body>
                <img alt="A scary snek" class="mt-5" src="assets/snek.jpg">
                <div>
                    <button (click)="openNewGameDialog()" class="mt-5" nbButton size="giant" status="success">Create new
                        game
                    </button>
                </div>
                <div>
                    <button (click)="openJoinGameDialog()" class="mt-5" nbButton size="giant" status="success">Join
                    </button>
                </div>
            </nb-card-body>
        </nb-card>

    </nb-layout-column>

</nb-layout>
 
