<nb-layout>
    <nb-layout-header>
        <button [routerLink]="'/new-game'" ghost nbButton size="giant">
            <nb-icon icon="home-outline" size="giant"></nb-icon>
            Home
        </button>
    </nb-layout-header>
    <nb-layout-column class="text-center">
        <nb-card class="text-center">
            <nb-card-header>
                Have fun {{this.clientService.name}}
            </nb-card-header>
            <nb-card-body>
                <div class="mb-5">
                    {{this.boardService.neighbourNames.get(direction.North)}}
                </div>
                <div class="row align-items-center justify-content-md-center">
                    <div class="col col-lg-1">
                        {{this.boardService.neighbourNames.get(direction.West)}}
                    </div>
                    <div class="col col-md-auto">
                        <div *ngFor="let row of this.boardService.grid" class="container">
                            <div *ngFor="let item of row">
                                <div [ngSwitch]="item">
                                    <div *ngSwitchCase="boardCellState.Free" [ngStyle]="{'background': 'lightgrey'}"
                                         class="item">

                                    </div>
                                    <div *ngSwitchCase="boardCellState.Wall" [ngStyle]="{'background': 'black'}"
                                         class="item">

                                    </div>
                                    <div *ngSwitchCase="boardCellState.Head" [ngStyle]="{'background': 'red'}"
                                         class="item">

                                    </div>
                                    <div *ngSwitchCase="boardCellState.Tail" [ngStyle]="{'background': 'grey'}"
                                         class="item">

                                    </div>
                                    <div *ngSwitchCase="boardCellState.Body" [ngStyle]="{'background': 'grey'}"
                                         class="item">

                                    </div>
                                    <div *ngSwitchCase="boardCellState.Neighbor" [ngStyle]="{'background': 'Cornsilk'}"
                                         class="item">

                                    </div>
                                    <div *ngIf="!this.boardService.combinedIndicator">
                                        <div *ngSwitchCase="boardCellState.HeadIndicator"
                                             [ngStyle]="{'background': 'DarkRed', 'opacity': '0.7'}"
                                             class="item indicator">

                                        </div>
                                        <div *ngSwitchCase="boardCellState.FoodIndicator"
                                             [ngStyle]="{'background': 'Cornsilk'}"
                                             class="item center-icon">
                                            <fa-icon [icon]="foodIcon" [ngStyle]="{color: 'black'}"
                                                     class="low-opacity"></fa-icon>
                                        </div>
                                    </div>

                                    <div
                                        *ngIf="this.boardService.combinedIndicator && (item === boardCellState.FoodIndicator || item === boardCellState.HeadIndicator)"
                                        [ngStyle]="{'background': 'DarkRed', 'opacity': '0.7'}"
                                        class="item center-icon">
                                        <fa-icon [icon]="foodIcon" [ngStyle]="{color: 'white'}"
                                                 class="low-opacity"></fa-icon>
                                    </div>

                                    <div *ngSwitchCase="boardCellState.Food" [ngStyle]="{'background': 'lightgrey'}"
                                         class="item center-icon">
                                        <fa-icon [icon]="foodIcon" [ngStyle]="{color: 'black'}"></fa-icon>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-1">
                        {{this.boardService.neighbourNames.get(direction.East)}}
                    </div>
                </div>
                <div class="mt-5">
                    {{this.boardService.neighbourNames.get(direction.South)}}
                </div>

            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>
