<nb-layout>
    <nb-layout-header>
        <button [routerLink]="'/new-game'" ghost nbButton size="giant">
            <nb-icon icon="home-outline" size="giant"></nb-icon>
            Home
        </button>
    </nb-layout-header>

    <nb-layout-column class="text-center">

        <nb-card *ngIf="this.adminClientConnectionService.name === ''" class="text-center">
            <nb-card-header>
                Hey that's illegal
            </nb-card-header>
            <nb-card-body>
                Go back to the <a [routerLink]="'/new-game'">main page</a>
            </nb-card-body>
        </nb-card>


        <nb-card *ngIf="this.adminClientConnectionService.name !== ''" class="text-center">
            <nb-card-header>
                Hey {{this.adminClientConnectionService.name}}, we are waiting for your friends
            </nb-card-header>
            <nb-card-body>
                <div class="mb-4">
                    Send them this code: <br/>
                    {{this.adminClientConnectionService.code}} <br/>
                    <button (click)="saveToClipboard()" class="mt-3" nbButton>Copy to clipboard</button>
                </div>
                Currently connected:
                <div *ngFor="let connection of this.adminClientConnectionService.peerConnections | keyvalue">
                    <div>
                        {{connection.key}}
                    </div>
                </div>
                <div>
                    <button (click)="startGame()" class="mt-5" nbButton>Start game</button>
                </div>
            </nb-card-body>
        </nb-card>

    </nb-layout-column>
</nb-layout>
