<nb-card>
    <nb-card-header class="text-center big-letters-lol font-weight-bold">
        Game stopped
    </nb-card-header>
    <nb-card-body class="text-center big-letters-lol">
        <div>
            Someone couldn't handle your massive snake.
        </div>
        <div class="mt-4">
            You will be redirected to the title screen.
        </div>
    </nb-card-body>
    <nb-card-footer class="text-center">
        <button (click)="close()" nbButton status="success">I consent</button>
    </nb-card-footer>
</nb-card>

